html, body {
    height: 100%;
}
.row {
    margin: 0;
}
.input-group, .btn {
    width: 70%;
}
.top-header {
    z-index: 9999;
    width: 100%;
    position: fixed;
    padding: 0 2rem;
    margin: 0;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #cecece;
}
.page {
    min-height: 75%;
    height: max-content;
    justify-content: center;
    margin: 0 5%;
}
.navbar-light .navbar-nav .nav-link {
    color: #007bff;
}
footer {
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #cecece;

}
.input-group-text {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}
.searching {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #444444;
    text-align: center;
}
.loading-gif {
    width: 10%;
}
.top-menu-mobile {
    display: none;
}
.top-menu {
    display: flex;
    justify-content: end;
    align-items: center;
}
.top-menu a {
    margin: 3%;
}
.title {
    border-bottom: 1px solid #cecece;
    width: max-content;
}
nav {
    align-self: center;
    margin: 20px 5px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center
}
.pagination {
    justify-content: center;
    margin-bottom: 2%;
    flex-wrap: wrap;
}
.page-link {
    color: #444444 !important;
}

li.page-item {
    margin-top: 5px;
}
.page-link:hover {
    font-weight: bold;
}
.results-table td {
    overflow-wrap: anywhere;
}
.table thead th {
    font-size: 14px;
}
tr.result td {
    vertical-align: middle;
    line-height: 1;
}
.list-group-item {
    background: transparent;
}
.links-list {
    text-align: center;
}
.page-item.active .page-link, .page-item.disabled .page-link {
    pointer-events: none;
    background: #e9ecef !important;
    border-color: #e9ecef !important;
}
.navbar-brand {
    width: 10rem;
}
img.logo {
    width: 100%;
}
.actions {
    text-align: center;
}
.save-document, .unsave-document {
    font-size: 20px;
}
.save-document:hover, .unsave-document:hover {
    scale: 1.3;
    cursor: pointer;
}
.msg-container {
    display: none;
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 9999;
    flex-direction: column;
    width: 20%;
    padding: 10px;
    font-size: 14px;
}
.floating-search-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #cecece;
    border-radius: 50px;
    padding: 1%;
}
.floating-search-btn:hover, .floating-search-close:hover {
    cursor: pointer;
    scale: 1.1;
}
.floating-search {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ffffff;
    border: 1px solid #cecece;
    border-radius: 10px;
    width: 20%;
    z-index: 9999;
}
.floating-search-close {
    padding: 15px;
}
@media only screen and (max-width: 990px) {
    .top-menu-mobile {
        display: flex !important;
        justify-content: center;
        align-items: end;
    }
    .navbar-brand {
        width: 8rem;
    }
    .hide-mobile {
        display: none !important;
    }
    .input-group, .btn {
        width: 90%;
    }
    .top-menu {
        justify-content: center !important;
    }
    .top-menu a, .result, .footer, .input-group-text, .btn {
        font-size: 13px;
    }
    .msg-container {
        width: 100% !important;
    }
}