html, body{
    height: 100%;
}

html {
    overflow: hidden;
}

.row {
    margin: 0;
}
.top-header {
    padding: 0 2%;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #cecece;
}
.input-group-text {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}
.searching {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #444444;
    text-align: center;
}
.loading-gif {
    width: 10%;
}
.top-menu {
    display: flex;
    justify-content: end;
    align-items: center;
}
.top-menu a {
    margin: 0 5%;
}
.results-table {
    display: block;
    height: 75%;
    min-height: 75%;
    margin: 0 2% 5% 2%;
    width: 100%;
    min-width: 95%;
    overflow-y: auto;
    table-layout: fixed;
}
.pagination {
    margin: 0;
}
.page-link {
    color: #444444 !important;
}
.page-link:hover {
    font-weight: bold;
}
.results-table td {
    overflow-wrap: anywhere;
}
tr.result td {
    vertical-align: middle;
    line-height: 1;
}

.list-group-item {
    background: transparent;
}
.page-item.active .page-link, .page-item.disabled .page-link{
    pointer-events: none;
    background: #e9ecef !important;
    border-color: #e9ecef !important;
}
img.logo {
    width: 50%;
}

@media only screen and (max-width: 990px) {
    img.logo {
        width: 100%;
    }
}